<style>
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid black;
}
</style>


<div class="container">
	<div class="row"  style="color:white">
<div class="col-sm-5">
Welcome,<h4 id="drivername"></h4></div>
<a href="/" class="btn btn-success" ng-click="LogoutUser()" style="margin-top: 10px;margin-left:22%;">LogOut</a>


<div class="col-sm-5" style="display:none">
  long:<p id="geoposition" style="color:white"></p>
  latt:<p id="geoposition123" style="color:white"></p>
  sock:<p id="getSocket"></p>
  customer:<p id="customerContainer"></p>


</div>

  </div>


  <div class="row">



<div class="col-sm-5">
  <button type="button" class="btn btn-info btn-block"ng-click="viewCustomers()" >Your Bookings</button>
</div>
<div class="col-sm-5">
  <button type="button" class="btn btn-info btn-block" ng-click="viewDetails()" >Your Details</button>
</div>

  </div>

	<div class="row">
    <div class="col-sm-10">
<div ng-show="driverAccount" style="color:white;padding:10px;background-color:black">
  <div ng-repeat="d in DriverDe">
    <div class="table-responsive">
      <table class="table" style="width: 50%">
         <caption><h3 style="margin-left: 17%;color:yellow">Your Details</h3></caption>

          <tr>
            <th>Name</th>
            <td>{{d.FirstName}}</td>
          </tr>
          <tr>
            <th>Driver ID</th>
            <td>{{d.Did}}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{d.age}} Years</td>
          </tr>
          <tr>
            <th>Mobile no</th>
            <td>{{d.MobileNumber}}</td>
          </tr>
          <!-- <tr>
            <th>Licence No</th>
            <td>{{d.licence}}</td>
          </tr> -->
          <tr>
            <th>Car Type</th>
            <td>{{d.drtype}}</td>
          </tr>
          <tr>
            <th>Car Name</th>
            <td>{{d.Car}}</td>
          </tr>
          <tr>
            <th>Car No</th>
            <td>{{d.carNo}}</td>
          </tr>

      </table>
      </div>

</div>

    </div>


  <div ng-show="NowRidecustomer" style="color:white;background-color:black">
    <h3 style="color:yellow;text-align:center">Customer Details</h3>
    customer Name:<p id="customerNameContainer" style="color:white"></p>
    customer Source:<p id="customerSourceContainer" style="color:white"></p>
    customer Destination:<p id="customerDestinationContainer" style="color:white"></p>
    customer e-mail:<p id="customerMailContainer" style="color:white"></p>
    <!-- customer cabType:<p id="customerTypeContainer" style="color:white"></p> -->
    customer mobileNo:<p id="customerNoContainer" style="color:white"></p>
    customer Amount:<p id="customerAmountContainer" style="color:white"></p>


    <button type="button" class="btn btn-info" ng-click="sendtoCustomer()">Done</button>

  </div>

</div>
